.contact {
  background-color: var(--clr-dark-blue);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.contact__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.contact__wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.contact__logo {
  color: var(--clr-light-grey-blue);
  cursor: pointer;
}

.contact__phone {
  color: var(--clr-light-grey-blue);
  cursor: pointer;
}

.contact__phone-img {
  cursor: pointer;

  width: 20px;
  height: 20px;
}

.contact__wrap1 {
  cursor: pointer;

  display: flex;
  gap: 1rem;
}

.contact__email-img {
  cursor: pointer;

  width: 20px;
  height: 20px;
}

.contact__email {
  cursor: pointer;

  color: var(--clr-light-grey-blue);
}

/*  */
.contact__wrapper2 {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  color: var(--clr-light-grey-blue);
  gap: 1rem;
}

.contact__wrapper3 {
  display: flex;
  cursor: pointer;

  flex-direction: column;
  color: var(--clr-light-grey-blue);
  gap: 1rem;
}

.icons {
  display: flex;
  cursor: pointer;
  margin-top: 2rem;
  margin-left: 8rem;
  margin-right: 10rem;
  width: 20px;
  gap: 0.5rem;
}

.icon{
  display: none;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
@media (min-width: 1280px) {

  .contact__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .icon {
    display: flex;
    cursor: pointer;
    width: 20px;
    gap: 0.5rem;
  }

  .icons{
    display: none;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
