.background {
  height: 100%;
  background-image: url(/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1000;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.team {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.team__img {
  width: 21.875rem;
}

.team-description__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.team__title {
  font-size: var(--size-xl);
  max-width: 30ch;
  line-height: 1.5;
  padding-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.team__description {
  font-size: var(--size-base);
  font-weight: 500;
  line-height: 1.5;
  max-width: 60ch;
}

.team__links {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 0.125rem solid var(--clr-cyan);
}

.team__link {
  text-decoration: none;
  color: var(--clr-cyan);
  font-size: var(--size-base);
  font-weight: 600;
}

.team__arrow {
  width: 1.5rem;
}

.team__box {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 0.7rem;
  background-color: var(--clr-light-grey-blue);
  padding: 2rem 2rem;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.05);
}

.team__comma {
  width: 20px;
}

.team__box-description {
  color: var(--clr-dark-blue);
  font-weight: 600;
  line-height: 1.3;
  font-size: var(--size-sm);
  max-width: 45ch;
}

.box__img {
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
}

.team__box-wrapper {
  display: flex;
  gap: 0.7rem;
  margin-top: 0.5rem;
}

.box__head {
  font-size: var(--size-sm);
  font-weight: 900;
  line-height: 1.6;
  color: var(--clr-dark-blue);
}

.box__description {
  font-size: var(--size-xs);
  font-weight: 600;
  line-height: 1.6;
  color: var(--clr-dark-blue);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .team__title {
    font-size: var(--size-4xl);
  }

  .team__description {
    font-size: var(--size-xl);
  }

  .box__img {
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
  }
  .box__head {
    font-size: var(--size-base);
  }

  .box__description {
    font-size: var(--size-sm);
  }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
@media (min-width: 1280px) {
  .background {
    height: 100%;
    background-image: url(/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1000;
    padding-top: 11rem;
  }

  .team {
    flex-direction: row-reverse;
    gap: 2rem;
    justify-content: space-between;
  }

  .team-description__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 0;
  }

  .team__img {
    width: 530px;
  }

  .team__title {
    font-size: var(--size-4xl);
    max-width: 40ch;
    line-height: 1.5;
    text-align: justify;
  }

  .team__links {
    margin-bottom: 1rem;
  }

  .team__description {
    font-size: var(--size-base);
    font-weight: 500;
    line-height: 1.5;
    max-width: 60ch;
    text-align: left;
  }

  .team__box-description {
    font-size: var(--size-base);
    max-width: 40ch;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
